<nav class="uk-navbar uk-navbar-container uk-margin">
  <div class="uk-navbar-left">
    <a id="header-title" class="uk-navbar-item uk-logo" href="/">{{ title }}</a>
    <div class="uk-navbar-left uk-navbar-container">
      <ul class="uk-navbar-nav">
        <li
          *ngFor="let tabName of availableTabs"
          class="header-tab"
          [ngClass]="{'uk-active': activeTab === tabName}"
          (click)="switchActiveTab(tabName)"
        >
          <a class="camelcase-text">{{ tabName }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
