<div class="uk-grid uk-align-center uk-width-1-2@l">
  <div class="uk-card uk-card-default uk-width-1-1 uk-card-body">
    <h1>Welcome to Gamer Drop Zone!</h1>
    <h4>We are a community of gamers, coders, hobbyists, and enthusiasts who welcome all and would love for you to join! If you would like to join us on Discord simply click the icon below and you will be redirected.
      Or if you would like to check out our servers click the join icon for any of the servers below.</h4>
    <div class="uk-align-right">
      <a href="https://discord.boop.ninja" target="_blank" class="">
        <img src="assets/discord/Discord-Logo-White" alt="image" class="discord-logo">
        <img src="assets/discord/Discord-Wordmark-White" alt="image" class="uk-visible@s discord-logo-text">
      </a>
    </div>
  </div>
</div>
<div class="uk-hidden"><p>Deployed Via Jenkins</p></div>
