<div class="uk-width-1-2@l uk-align-center">
  <div class="uk-grid uk-child-width-1-2@l uk-child-width-1-1 uk-text-center">
    <div *ngFor="let server of servers" class="uk-padding uk-padding-remove-top uk-padding-remove-left">
      <div class="uk-card uk-card-default uk-card-body" [id]="'server_id_' + server.id">
        <h3 class="uk-card-title" style="color: white;">{{ server.name }}</h3>
        <app-server [server]="server"></app-server>
      </div>
    </div>
</div>
<!--<div class="uk-width-1-2@l  uk-align-center uk-grid uk-child-width-1-2@m uk-child-width-1-1@s">-->
  <!--<div *ngFor="let server of servers" class="uk-card  uk-card-default">-->
    <!--<h3 class="uk-card-title ">{{ server.name }}</h3>-->
    <!--<div class="uk-card-body" [id]="'server_id_' + server.id">-->
      <!--<app-server [server]="server"></app-server>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

